<h1>Це загальна сторінка, для виводу усіх товарів, юзери...</h1><br/>
<% @сomments.each do |i| %>
    <div class="tovar ">                                    
		<p class="name_tovar"><%= i.name %></p>                         
		<p class="name_tovar"><%= i.email %></p>
		<p class="name_tovar"><%= i.comment %></p>
    </div>                   
<% end %>
