<h1>Create new</h1>

<%= form_for @сomment do |f| %>
	<p>Имя: <br/><%= f.text_field :name %></p>
	<p>Майл: <br/><%= f.text_field :email %></p>
	<p>Коментарий: <br/><%= f.text_field :comment %></p>
	<p><%= f.submit "Добавить" %></p>
<% end %>
