<div class="catalog_index clearfix">
    <hr class="liniya">
    <div class="tovaru">
        <div class="tovar ">                           
            <div class="price">
                <% @news.each do |i| %>
                    <p><%= link_to  news_show_url_path(i.url), :class => "mails" do %></p><br/>
                        <p class="cena_stara"><%= i.name %></p>
                    <% end %>
                <% end %>
                    <%= will_paginate @news, :container => false %>
            </div>
        </div>
    </div>
</div>
