<div class="catalog_index clearfix">
    <hr class="liniya">
    <div class="tovaru">
        <div class="tovar ">                           
            <div class="price">
				<h1><%= @news.name %></h1><br/>
				<ul>			   
					<li><p class="phone_header"> Name: </p><span class="mails"><%= @news.name%></span></li><br/>
					<li><p class="phone_header">Description: </p><span class="mails"><%= @news.description %></span></li><br/>
					<li><p class="phone_header">Text: </p><span class="mails"><%= @news.text %></span></li><br/>
					<li><p class="phone_header">Title: </p><span class="mails"><%= @news.title %></span></li><br/>
					<li><p class="phone_header">Keywords: </p><span class="mails"><%= @news.keywords  %></span></li><br/>
				</ul>
            </div>
        </div>
    </div>
</div>
<h1><span class="phone_header"> Title - </span><span class="mails"> технически называется титровальных элементов-определить название документа. Название метки часто используются на страницах результатов поисковой машины (поисковой выдачи), чтобы отобразить предварительный просмотр фрагментов для данной страницы, и имеют важное значение как для SEO и социального обмена.</span> </h1><br/>
<h1><span class="phone_header">Keywords - </span><span class="mails"> Ключевое слово исследований является одним из наиболее важных, ценных и высокой доходности деятельности в области поискового маркетинга. Рейтинг для правильных ключевых слов может сделать перерыв или ваш сайт. В исследовании спроса ключевое слово вашего рынка, вы можете не только узнать, какие термины и фразы, чтобы предназначаться с SEO, но также узнать больше о ваших клиентов в целом.</span></h1><br/>
<h1><span class="phone_header"> Description - </span><span class="mails"> Мета-тег описания в HTML является фрагмент 160 символов, используемый для обобщения содержания веб-страницы. Поисковые системы иногда используют эти фрагменты в результатах поиска, чтобы посетители знают, что страница о прежде чем они щелкните по нему.</span></h1><br/>
