<div class="wrapper ">
    <div class="fix_footer">
        <div class="besedka clearfix">
            <div class="item pull-left">
                <%= link_to root_url do %>
                    <img src="/assets/img.png" alt="">
                    <div class="desc_item">Скидка 10% на все беседки</div>
                <% end %>
            </div>
            <div class="item pull-left">
                <%= link_to root_url do %>
                    <img src="/assets/img.png" alt="">
                    <div class="desc_item">Скидка 10% на все беседки</div>
                <% end %>
            </div>
        </div> 
        <div class="content">
            <h2>О компании</h2>
            <hr class="liniya">
            <p class="text">
                <span>Пергола</span>  – очаровательный представитель семейства решетчатых среди арок, трельяжей, беседок, берсо и навесов.
                Отличительные черты пергол – конструкция малой архитектурной формы создается в виде ажурного коридора из вертикальных опор,
                горизонтальных и дуговых элементов, которые укажут путь в глубину сада и порадуют глаз яркими красками флористики.
            </p>
            <p class="text"><span> Классическая пергола</span> – это конструкция из нескольких арок, которые составлены друг с другом и соединены решетчатым 
            перекрытием.Благодаря изящной форме сооружений, обычная дорожка (см. как сделать садовую дорожку своими руками) превращается в стихию, 
            которая приглашает совершить увлекательную прогулку в глубину сада.
            Первые перголы Римской Империи служили для поддержки виноградной лозы и не отличались разнообразием. 
            Современный ассортимент ажурных коридоров – основной элемент ландшафтного дизайна, который отличается многообразием 
            конструктивных решений и вариантов декора.
            </p>
        </div>
        <div class="catalog_index clearfix">
            <h2>Каталог беседок</h2>
            <hr class="liniya">
            <% @filter.each do |filter| %>
                <% filter.filter_attributes.each do |item| %>
                    <p class="phone_header"><%= filter.name %></p>  
                    <%= check_box_tag "product[filter_ids][]" %>
                    <%= item.name %><br/>
                <% end %>
            <% end %>
            <% @tovars.each do |i| %>
                <div class="tovaru">             
                    <div class="tovar ">                        
                        <%= link_to tovar_url_path(i.url) do %>
                            <p class="name_tovar"><%= i.name %></p>
                            <%= image_tag i.image.url %>                            
                        <% end %>
                        <div class="price">
                            <p class="cena pull-left">Цена:</p>
                            <div class="price_tovara pull-left">
                                <p class="cena_stara"><%= i.price %></p>
                                <p class="cena_nova"><%= i.reprice %></p>
                            </div>
                            <%= link_to root_url, class:"korzuna" do %><% end %>
                        </div>                        
                    </div>    
                </div>
            <% end %>
            <%= link_to "Все товары", "#", class:"link_other pull-right" %>
        </div>
    </div>
</div>
