<div class="wrapper">
    <div class="bredkrams">
        <ul>
            <li><%= link_to root_url do %>Главная<%end%></a><span>/</span></li>
            <li><%= link_to root_url do %>Беседки<%end%></a><span>/</span></li>
            <li><%= @tovars.name %></li>
        </ul>
    </div>
    <div class="content_cart clearfix fix_footer">
        <div class="slider">
            <div id="slider" class="flexslider">
                <ul class="slides">
                    <% @tovars.architecture_img.each do |i| %>
                        <li>
                            <%= image_tag i.arhitect_img.url%>
                        </li>
                    <%end%>
                </ul>
            </div>
            <div id="carousel" class="flexslider">
                <ul class="slides">
                    <% @tovars.architecture_img.each do |i| %>
                        <li>    
                            <%= image_tag i.arhitect_img.url%>    
                        </li>
                    <%end%>
                </ul>
            </div>
        </div>
        <div class="desc_cart pull-left">
            <p class="name_cart">Технические характеристики</p>
            <div class="harakteristik">
                <div class="item_cart">
                    <span>Размеры:</span><span><%= @tovars.title %></span>
                </div>
                <div class="item_cart">
                    <span>Срок изготовления:</span><span><%= @tovars.text %></span>
                </div>
                <div class="price">
                    <p class="cena pull-left">Стоимость:</p>
                    <div class="price_tovara pull-left">
                        <p class="cena_stara zacherk"><%=@tovars.price%></p>
                        <p class="cena_nova"><%=@tovars.reprice%></p>
                    </div>
                </div>                               
                <span class="pull-left">Описание:</span>
                <div class="description_cart">
                    <p>
                        <%= @tovars.desc %>
                    </p> 
                </div>
                <a class="zakaz" href="#">Заказать изделие</a>                   
            </div>   
        </div>      
    </div>
</div>



