<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
            <%= stylesheet_link_tag    'application', media: 'all'%>
            <%= javascript_include_tag 'application'%>
            <%= csrf_meta_tags %>
    </head>
    <body>
        <header>
            <div class="wrapper">
                <a class="logo" href="/"><img src="/assets/logo.png" alt=""></a>
                <div class="info_header">
                    <div class="mail_header pull-left">
                        <p class="phone_header"><span>+7 (495)</span> 123-45-67</p>
                        <%= link_to "info@paraenotov.ru", "mailto:info@paraenotov.ru", :class => "mail pull-right" %>
                    </div>
                     <a class="btn_header pull-right" href="#">Обратный звонок</a>
                </div>
                <div class="nav_menu clear">
                    <ul>
                        <li><%= link_to "Главная", root_path %></li>
                        <li><%= link_to "Беседки", "#" %> <li></li>
                        <li><%= link_to "Индивидуальный макет", "#" %></li>
                        <li><%= link_to "Дизайн", "#" %></li>
                        <li><%= link_to "Контакты", "#" %></li>
                    </ul>
                </div>
            </div>
        </header>
        <% flash.each do |name, dead| -%>
            <%= content_tag :div, dead, class: name %>
        <% end -%>

        <%= yield %>

        <footer >
            <div class="footer_bottom wrapper">
                <div class="footer_menu clear">
                    <ul>
                        <li><%= link_to "Главная", root_path %></li>
                        <li><%= link_to "Беседки", "#" %></li>
                        <li><%= link_to "Индивидуальный макет", "#" %></li>
                        <li><%= link_to "Дизайн", "#" %></li>
                        <li><%= link_to "Контакты", "#" %></li>
                    </ul>
                </div>
                <div class="footer_info ">
                    <div class="copy pull-left">
                        <p class="footer_copy">©2015 Мастерская Пара Энотов</p>
                        <p class="securipy">Все права защищены</p>
                    </div>
                    <div class="footer_tel pull-right">
                        <p>+7 (495) 123-45-67</p>
                        <%= link_to "info@paraenotov.ru", "mailto:info@paraenotov.ru" %>
                    </div>
                </div>
            </div>               
        </footer>
    </body>
</html>
